.editthumbnaillist div.thumbnail
{
    border: 1px solid lightgrey;
    padding:5px

}

h4.pageName
{
    margin:0;
    padding:0;
}

.drop-shadow, div.panel-bordered, .table-responsive  {
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
}

hr
{
    margin: 4px 0 4px 0;
}
.faded-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.3);
}

