.editthumbnaillist
{
    margin: 10px auto;
}

.editthumbnaillist div.thumbnail
{
    border: 1px solid lightgrey;
    padding:5px

}

.editthumbnaillist h4.pageName
{
    margin:0;
    padding:0;
}

.editthumbnaillist .videoTag
{
    display:block !important;
    margin: 0 !important;
    padding:0 !important;
}
